Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [89]:
mat = str(input("Introduce tu matricula: " ))
name = str(input("Introduce tu nombre completo: "))

alumno = mat + ', ' + name
print()
print ( alumno)

Introduce tu matricula: 1867216
Introduce tu nombre completo: Jose Miguel Mtz

1867216, Jose Miguel Mtz

Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [90]:
n1 = int(input("Introduce el primer numero"))
n2 = int(input("Introduce el segundo numero"))

print("La suma de los numeros es: ",n1+n2)
print("La resta de los numeros es: ",n1-n2)
print("El producto de los numeros es: ",n1*n2)
print("El cociente de los numeros es: ",n1/n2)
print("El primer numero elevado al segundo numero es: ",n1**n2,"El segundo numero elevado al primero numero es: ",n2**n1)

Introduce el primer numero2
Introduce el segundo numero5
La suma de los numeros es:  7
La resta de los numeros es:  -3
El producto de los numeros es:  10
El cociente de los numeros es:  0.4
El primer numero elevado al segundo numero es:  32 El segundo numero elevado al primero numero es:  25

Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [91]:
suma= 0
for i in range(1,11):
  print(i*3)
  suma=suma+i*3

print()
print("La suma de los numeros es: ",suma)

3
6
9
12
15
18
21
24
27
30

La suma de los numeros es:  165

Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [92]:
a = int(input("Ingrese el numero a revisar:  "))
##Función para saber si un número es primo o no
##https://ellibrodepython.com/numeros-primos-python#:~:text=Para%20determinar%20si%20un%20n%C3%BAmero,es%20primo%20y%20devolvemos%20False%20.
print()
def es_primo(num):
    for n in range(2, num):
        if num % n == 0:
            print("No es primo,", n, "es divisor")
            return False
    print("Es primo")
    return True

es_primo(a)

print()
if a%2==0:
  print("El numero es par")
else:
  print("El numero es impar")

Ingrese el numero a revisar:  475

No es primo, 5 es divisor

El numero es impar

Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [93]:
print("CALCULADORA")
print("\n 1) Suma\n 2) Resta\n 3) Multiplicación\n 4) División\n 5) Exponente\n")
op = int(input("\nElige una opcion: "))

x = float(input("Introduce el primer número: "))
y = float(input("Introduce el segundo número: "))

w=0
if op == 1:
     w= x+y
elif op == 2:    
     w= x+y
elif op == 3:    
     w= x*y
elif op == 4:    
     w= x/y
elif op == 5:    
     w= x**y 
else:
    print ("\nError, introduce un numero del 1 al 5")
    
    
print("\nEl resultado de la operación es: ", w)

CALCULADORA

 1) Suma
 2) Resta
 3) Multiplicación
 4) División
 5) Exponente


Elige una opcion: 4
Introduce el primer número: 23456
Introduce el segundo número: 3

El resultado de la operación es:  7818.666666666667

Ejercicio 6

Tuplas
Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

Añadir 3 valores de string a la tupla.

Verificar si una variable existe dentro de la tupla.

In [94]:
f = 8.93
print("f =",type(f))
i = 4
print("i =",type(i))
b = False
print("b =",type(b))
c = 6j
print("c =",type(c))

print()
t1 = (10,21,23,43,19,30,90)
print(t1)
print()
print("Primer Valor: ",t1[0]," y Ultimo valor: ",t1[-1])
dir(t1)
t1 = t1.__add__(('Que onda','cuando',' es tu cumpleaños',))
print("\nTupla con elementos añadidos: ",t1)

print("¿El valor 10 esta en t1? ",10 in t1)

f = <class 'float'>
i = <class 'int'>
b = <class 'bool'>
c = <class 'complex'>

(10, 21, 23, 43, 19, 30, 90)

Primer Valor:  10  y Ultimo valor:  90

Tupla con elementos añadidos:  (10, 21, 23, 43, 19, 30, 90, 'Que onda', 'cuando', ' es tu cumpleaños')
¿El valor 10 esta en t1?  True

Ejercicio 7

Listas
Crear una lista con 40 elementos aleatorios enteros.

Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [63]:
import random
lista = []
for i in range (40):
    x= random.randint(0,1000)
    lista.append(x)

def lista_pares(lista):
    numpares = []
    for n in lista:
        if n % 2 == 0:
            numpares.append(n)
    return numpares 

def lista_impares(lista):
    numimpares = []
    for n in lista:
        if n % 2 != 0:
            numimpares.append(n)
    return numimpares 
    

x=lista_pares(lista)
y=lista_impares(lista)

print("\nLista completa:\n", lista)

print("\nLa lista con numeros pares es:  ", x)
print("\nLa longitud de la lista con numeros pares es:\n", len(x))
print("\nLa de la lista con numeros pares ordenada de mayor a menor es:\n", sorted(x, reverse=True))

print("\nLa lista con numeros impares es:  ", y)
print("\nLa longitud de la lista con numeros impares es:\n", len(y))
print("\nLa longitud de la lista con numeros impares de menor a mayor es:\n", sorted(y))


lista.append(1234567890)
lista.reverse()
lista.insert(2,99)
lista.extend([1,3,5,7,9])

print()
print("Nueva lista:  ", lista)

Lista completa:
 [59, 45, 33, 548, 27, 983, 58, 475, 18, 933, 708, 874, 631, 927, 388, 875, 670, 261, 574, 850, 271, 399, 427, 918, 96, 483, 77, 117, 197, 844, 339, 742, 495, 257, 264, 442, 750, 214, 974, 974]

La lista con numeros pares es:   [548, 58, 18, 708, 874, 388, 670, 574, 850, 918, 96, 844, 742, 264, 442, 750, 214, 974, 974]

La longitud de la lista con numeros pares es:
 19

La de la lista con numeros pares ordenada de mayor a menor es:
 [974, 974, 918, 874, 850, 844, 750, 742, 708, 670, 574, 548, 442, 388, 264, 214, 96, 58, 18]

La lista con numeros impares es:   [59, 45, 33, 27, 983, 475, 933, 631, 927, 875, 261, 271, 399, 427, 483, 77, 117, 197, 339, 495, 257]

La longitud de la lista con numeros impares es:
 21

La longitud de la lista con numeros impares de menor a mayor es:
 [27, 33, 45, 59, 77, 117, 197, 257, 261, 271, 339, 399, 427, 475, 483, 495, 631, 875, 927, 933, 983]

Nueva lista:   [1234567890, 974, 99, 974, 214, 750, 442, 264, 257, 495, 742, 339, 844, 197, 117, 77, 483, 96, 918, 427, 399, 271, 850, 574, 261, 670, 875, 388, 927, 631, 874, 708, 933, 18, 475, 58, 983, 27, 548, 33, 45, 59, 1, 3, 5, 7, 9]

Ejercicio 8

Diccionarios
Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

Usando el diccionario y un loop, imprimir solo los nombres.

Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [95]:
dict = {"Mike":20, "Tania": 20, "Oscar": 17, "Dany":7, "Joe":50, "Nany": 48}
print(dict)
print()
print("Edades de menor a mayor: ", sorted(dict.values()),)

print()
print("Nombres: \t")
for i in dict: 
    print(i)
print()    

dict["Gladys"] = 52
dict["Denisse"] = 25

print()
print()
print("Nueva lista de nombres: ")
print(dict)

{'Mike': 20, 'Tania': 20, 'Oscar': 17, 'Dany': 7, 'Joe': 50, 'Nany': 48}

Edades de menor a mayor:  [7, 17, 20, 20, 48, 50]

Nombres:
Mike
Tania
Oscar
Dany
Joe
Nany



Nueva lista de nombres:
{'Mike': 20, 'Tania': 20, 'Oscar': 17, 'Dany': 7, 'Joe': 50, 'Nany': 48, 'Gladys': 52, 'Denisse': 25}

Ejercicio 9

Sets
Crea un set con 100 numeros aleatorios enteros del 1 al 25.

Comprueba la longitud de tu set.

Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [96]:

import random as r
lista_100 = []
lista_5 = []
for i in range(100):
    x = r.randint(1,25)
    lista_100.append(x)
    
print("Lista de 100 numeros aleatorios: ",lista_100)    
set1 = set(lista_100)
print()
print("Set: ",set1)
len(set1)
print()
print("Longitud de set: ",len(set1))

numero = range(1,10)
lista_5 = r.sample(numero,5)
print()
print("Lista de 5 numeros del 1 al 10:",lista_5)
print()
for n in lista_5:
    if n in set1:
        print("El número ",n, " está en el set de 100")
    else:
        print("El número ",n, "no está en el set de 100")

Lista de 100 numeros aleatorios:  [6, 8, 19, 1, 25, 6, 16, 3, 21, 20, 19, 6, 21, 6, 22, 23, 25, 15, 7, 15, 18, 15, 13, 18, 13, 18, 14, 3, 20, 21, 16, 9, 17, 15, 3, 3, 16, 14, 24, 20, 12, 25, 9, 15, 22, 20, 1, 19, 25, 5, 11, 4, 2, 20, 24, 23, 18, 11, 22, 11, 4, 6, 22, 13, 9, 25, 8, 8, 2, 15, 5, 20, 13, 22, 20, 2, 9, 8, 11, 3, 3, 20, 1, 7, 2, 20, 22, 3, 25, 23, 8, 20, 7, 22, 3, 9, 1, 18, 10, 20]

Set:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

Longitud de set:  25

Lista de 5 numeros del 1 al 10: [7, 2, 8, 5, 4]

El número  7  está en el set de 100
El número  2  está en el set de 100
El número  8  está en el set de 100
El número  5  está en el set de 100
El número  4  está en el set de 100